body{
    background-image: url('https://res.cloudinary.com/devvzv96d/image/upload/v1475241585/darkgeopattern_l2wl8o.jpg');
}

#tweetButton, #quoteButton {
  margin-top: 20px;
  outline: none;
}

.quote-box 
{
  width: 70%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 40px 20px 40px;
  margin-top: 100px;
}

h3 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 300%;
}
h4 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 250%;
}

.round {
  border-radius: 24px;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
  h3{font-size: 200%;}
  h4{font-size: 170%;}
  #tweetButton {
    margin-left: 20px;
  }
  #quoteButton {
    margin-right: 20px;
  }
  .quote-box
{
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 0 0;
  margin-top: 130px;
}
}


